/**
violeta: 8f4754
verde-petroleo: 2f9c8d
verde: 8ab07d
naranja: f5a262
amarillo: e8c368
rojo: e97152 

**/

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*
	{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

html
{
  scroll-behavior: smooth;
}

h1, h2, h4
	{
		font-family: 'Lora';
		font-weight: 300;
		font-style: italic;
		font-size: 2em;
	}

h4
	{
		font-size: 1.2em;
		margin-bottom: 20px;
	}

p
	{
		font-family: 'arial', sans-serif;
	}

a
	{
		text-decoration: none;
		color: #8f4754;
	}

nav
	{
		height: 50px;
		width: 100%;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.5);
		box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
		top: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

nav > h3
	{
		color: #8f4754;	
	}

a.volver, a.siguiente
	{
		display: flex;
		flex-direction: row;
		max-width: 200px;
		justify-content: space-between;
		align-items: center;
	}

a.siguiente
	{
		justify-self: flex-end;
	}

div.back
	{
		position: absolute;
		z-index: -1;
		height: 100%;
		min-height: 100vh;
		width: 100%;
		overflow: hidden;
	}

div.back.base
	{	
		z-index: 0;
	}

div.back img
	{
		height: 100%;
		width: auto;
		min-width: 100%;
	}

section.aves
	{
		width: 100%;
		min-height: 100vh;
		padding-top: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-image: url("../img/back/02-prin.png");
		background-size: cover;
	}

section.principal
	{
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
		color: #8f4754;	
	}

section#detalle > div.slider
	{
		margin: 20px;
	}

section.principal.sub
	{
		display: grid;
		grid-template-rows: 3fr 1fr;
		grid-template-columns: 1fr;
	}

div.centrado, div.botones
	{
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 30px;
		margin: 10px;
	}

section.principal > div.centrado > h1
	{
		margin-bottom: 10px;
	}

section.principal > div.centrado > p
	{
		max-width: 480px;
	}

section.principal.sub > div.centrado
	{
		max-width: 320px;
		width: 100%;
		height: 320px;
		padding: 0;
		display: block;
		flex-direction: none;
		text-align: none;
		justify-self: center;
		align-self: end;
		background: url("../img/svg/mapa.svg");
		background-size: contain;
		background-repeat: no-repeat;
	}

section.principal.sub > div.centrado > p
	{
		position: relative;
		top: 245px;
	}

div.centrado > a > img
	{
		width: 60px;
		margin-bottom:20px;
	}

div.botones
	{
		width: 100%;
		max-width: 600px;
		flex-direction: row;
		justify-content: space-evenly;
	}

div.botones > h3
	{
		color: #8f4754;	
	}

div#Laguna, div#Popper, div#Atlantica
	{
		width: 30px;
		height: 45px;
		display: inline-block;
		margin: 0;
		background: url("../img/svg/indicador.svg");
		background-repeat: no-repeat;
		background-size: contain;
		text-align: left;
		position: relative;
	}

div#Laguna
	{
		top: 100px;
    right: 120px;
	}

div#Popper
	{
		top: 105px;
    right: -45px;	
	}

div#Atlantica
	{
		top:  10px;
		right: 130px;
	}

div.botones > a , div.centrado > div
	{
		padding: 20px;
		border-radius: 15px;
		width: 100px;
		background-color:rgba(255, 255, 255, 0);
		transition: all 1s;
	} 

div.botones > a
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

div.botones > a:hover, div.centrado > div:hover, div.centrado > div.select
	{
		background-color:rgba(255, 255, 255, 0.5);
		transform: scale(1.2);
	}

div.botones > a > div.circulo
	{
		background-color: #8ab07d;
		width: 70px;
		height: 70px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.2);
	}

div.botones > a > div.circulo > img
	{
		width: 90%;
	}

div.botones > a > h3
	{
		margin: 10px auto;
		display: block;
		padding: 5px;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.8);
	}

div.selecciones
	{
		display: none;
		max-width: 600px;
		width: 0;
		margin: auto;
		/*overflow: hidden;*/
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

div.selecciones.activo
	{
		display: flex;
		width: 100%;
	}

div.cabecera-slider
	{
		border-bottom: 3px solid #8f4754;
		margin: 0 20px 10px 20px;
		width: calc(100% - 40px);
	}

h2#titulo-slider
	{
		text-align: right;
		margin-right: 20px;
		font-size: 1.5em;
	}

div.slider, div.grilla
	{
		width: calc(100% - 40px);
		max-width: 900px;
		display: inline-grid;
		grid-template-columns: 50px 1fr 50px;
		background-color: rgba(255,255,255,0.8);
		border-radius: 40px;
		height: 65px;
		margin: 0 20px 10px 20px;
		box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.1);
	}

div.boton
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}

div.boton > img
	{
		transition: all 1s;
	}

div.boton:hover > img
	{
		transform: scale(1.4);
	}

div#contenido-slider, div#contenido-slider-2
	{
		display: flex;
		overflow: hidden;
		flex-direction: row;
		align-items: center;
	}

div.slide
	{
		display: flex;
		align-items: center;
		justify-content: center;
	}

div.slide > img
	{
		height: calc(100% - 10px);
		max-height: 55px;
		margin: 5px;
		transition: all 1s;
	}

div.slide:hover > img, div.slide.select > img
	{
		-webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
  	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
		transform: scale(1.1);
	}

div.grilla
	{
		grid-template-columns: 1fr;
		background-color: rgba(255,255,255,0);
		align-self: center;
		box-shadow: none;
		height: 90%;
	}

div.grilla > div#contenido-slider
	{
		overflow: none;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

div.grilla > div#contenido-slider > div.slide > img
	{
			max-height: 85px;		
	}

section#detalle
	{
		width: 100%;
		display: flex;
		height: 0;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		background-color: #8f4754;
	}

section#detalle.activo
	{
		height: auto;
    min-height: 100vh;
    overflow: auto;
	}

section#detalle > div.slider
	{
		background-color: rgba(255,255,255,0.3);
	}

div.contenido-detalle
	{
		max-width: 900px;
		height: calc(100vh - 125px);
		width: calc(100% - 40px);
		margin: 0 20px 0 20px;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: none;
		grid-auto-columns: 1fr;
		grid-gap: 10px;
	}

div.contenido-detalle.aves
	{
		margin: 20px 20px 0 20px;
	}

div.contenido-detalle > div.detalle-secundario
	{
		display: none;
	}

div.contenido-detalle.dos-fotos
	{
		grid-template-columns: 1fr;
	}

div.contenido-detalle.tres-fotos
	{
		grid-template-columns: 1fr;	
	}

div.detalle-secundario
	{
		height: 100%;
		display: grid;
		grid-gap: 10px;
		grid-template-rows: 1fr 1fr;
	}

div.contenido-detalle.dos-fotos > div.detalle-secundario
	{
		display: grid;
		grid-row: span 1;
		grid-template-rows: 1fr;
	}

div.contenido-detalle.tres-fotos > div.detalle-secundario
	{
		
		display: grid;
		grid-row: span 2;
	}

div.imagen
	{
		background-color: white;
		border-radius: 20px;
		height: 100%;
		max-height: 230px;
		overflow: hidden;
		display: grid;
		grid-template-rows: 205px 30px;
	}

div.imagen > p
	{
		padding: 5px 30px;
		color: #8f4754;
		background-color: rgba(255, 255, 255, 0.65);
		text-align: right;
		align-self: center;
	}

div.imagen > img
	{
		width: 100%;
	}

div.contenido-detalle.dos-fotos div.imagen
	{
		max-height: 230px;
	}

div.descripcion
	{
		align-self: flex-start;
		color: white;
		padding-bottom: 20px;
	}

div.ubicaciones
	{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 5px;
	}

p.zona
	{
		padding: 5px 10px;
		margin: 2px 4px;
		display: inline;
		background-color: white;
		border-radius: 8px;
		color: #8f4754;
		max-width: 170px;
		font-size: 0.8em;
		text-align: center;
	}

footer
	{
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		background-color: white;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
	}

footer > div.centrado
	{
		max-width: 500px;
		color: #8f4754;
		font-weight: 400;
		margin: auto;
	}

footer > div.centrado > img
	{
		width: 100%;
	}

footer > div.estepa
	{
		flex-direction: column;
		align-items: center;
	}

footer > div.estepa > a > img
	{
		margin-bottom: 15px;
		margin: 0 0 15px 0;
		max-width: 50px;
	}

footer > div.estepa > p
	{
		text-align: justify;
	}

@media screen and (min-width: 700px)
	{
		
		section.principal.sub
			{
				grid-template-rows: 1fr;
				grid-template-columns: 1fr 1fr;
			}

		section.principal.sub > div.centrado
			{
				align-self: center;
			}

		div.selecciones
			{
				margin: 0;

			}

		section#detalle
			{
				height: 0;
			}

		section#detalle.activo
			{
				height: 100%;
				min-height: 100vh;
			}

		div.contenido-detalle
			{
				grid-template-rows: 1fr 180px;
				grid-gap: 20px;
			}

		div.contenido-detalle.aves
			{
				margin: 40px 20px 0 20px;
			}

		div.contenido-detalle.dos-fotos
			{
				grid-template-columns: 1fr 1fr;
				align-items: center;
			}

		div.contenido-detalle.tres-fotos
			{
				grid-template-columns: 1fr 360px;	
			}

		div.detalle-secundario
			{
				grid-gap: 20px;
				align-items: center;
			}

		div.imagen, div.contenido-detalle.dos-fotos div.imagen
			{
				max-height: 300px;
				grid-template-rows: 271px 30px;
			}

		div.contenido-detalle.tres-fotos > div.detalle-secundario > div.imagen
			{
				max-height: 280px;
			  grid-template-rows: 215px 30px;	
			}

		footer > div.estepa
			{
				flex-direction: row;
				align-items: center;
			}

		footer > div.estepa > a > img
			{
				margin: 0 15px 0 0;
			}
	}